<header class="header header-notmedia shadow">
  <div class="header__wrap wrap-md">
    <div class="header__content">
      <app-logo></app-logo>
      <ul class="header__links justify-content-end">
        <mat-selection-list [multiple]="false" class="header__list center flex-row">
          <mat-list-option mat-list-item class="center">
            <a routerLink="/" class="text-white">
              Home
            </a>
          </mat-list-option>
          <mat-list-option mat-list-item class="center">
            <a routerLink="/contacts" class="text-white">
              Contacts
            </a>
          </mat-list-option>
        </mat-selection-list>
      </ul>
    </div>
  </div>
</header>
