@import "src/variables";

.section{
  min-height: 80vh !important;
}

.headline-md{
  margin-bottom: $margin !important;
}

.mt-1-rem{
  margin-top: $margin/2 !important;
}

.min-height-auto{
  min-height: auto !important;
}

@media(max-width: 700px){
  #media {
    display:none;
  }
}
