@import "src/variables";

.section{
  min-height: 90vh !important;
}

.headline-md{
  margin-bottom: $margin !important;
}

.mt-1-rem{
  margin-top: $margin/2 !important;
}

.min-height-auto{
  min-height: auto !important;
}

@media(max-width: 700px){
  #media {
    display:none;
  }
}

.section__content {
  position: relative;
}

.home__carousel {
  position: absolute;
  z-index: 2;
  left: 0;
  top: 40px;
  width: 100%;
}

.home__cards {
  padding-top: 177px;
  position: relative;
  z-index: 33;
}
