<section class="section center">
  <div class="section__content first-slide">
    <p-carousel class="w-100"
                styleClass="custom-carousel"
                [value]="items"
                [numVisible]="3"
                [numScroll]="1"
                [responsiveOptions]="responsiveOptions"
                [autoplayInterval]="3000"
                [circular]="true">
      <ng-template let-item pTemplate="item">
        <img src="{{item.image}}" alt="..." class="section__image w-100"/>
      </ng-template>
    </p-carousel>
  </div>
</section>
