<app-section-layout cssClass="product" [title]="post.title">
  <div class="product__info w-100">
    <p-card class="product__short-info w-100">
      <div class="product__description p-all-sm w-100">
        <div class="product__text w-100">
          <h6>
            Description
          </h6>
          <h5>
            {{post.short_description}}
          </h5>
        </div>
        <div class="product__image center">
          <img src="{{post.image}}" alt="..."/>
        </div>
        <div class="product__price">
          <h6>Price</h6>
          <h5>{{post.price}}</h5>
        </div>
        <div class="product__btn-buy w-100">
          <button pButton type="button" label="Buy" class="p-button-danger w-100"></button>
        </div>
      </div>
    </p-card>
    <div class="product__long-description">
      <p-card class="w-100 p-all-sm">
        <div>
          <h6 class="mb-half">
            Full description
          </h6>
          <h5 class="h5-small">
            {{post.long_description}}
          </h5>
        </div>
      </p-card>
    </div>
  </div>
</app-section-layout>
