<div class="admin-nav">
  <div class="admin-nav__container p-3 center flex-column">
    <div class="mb">
      <button mat-mini-fab color="accent" class="shadow-none" on-click="navigateToAddProductPage()">
        <mat-icon>note_add</mat-icon>
      </button>
    </div>

    <div class="mb">
      <button mat-mini-fab color="accent" class="shadow-none" on-click="navigateToUsersPage()">
        <mat-icon>
          supervisor_account
        </mat-icon>
      </button>
    </div>
  </div>
</div>
