<app-section-layout title="Our goods" [hasBreadCrumbs]="true">
  <div class="section__bread-crumps" breadCrumbs>
    <app-breadcrumbs [urls]="urls"></app-breadcrumbs>
  </div>
  <ng-content select="[productsAdditional]"></ng-content>
  <div class="product__carousel" *ngIf="!hasError">
    <app-carousel
      pageType="products"
      (empty)="hasError=true"
      (errorLoading)="hasError=true"
    ></app-carousel>
  </div>
  <div class="product__categories">
    <app-products-categories></app-products-categories>
  </div>
  <div class="product__wrap center align-items-start">
    <app-products-search></app-products-search>
    <div class="product__area center flex-column">
      <div class="product__content" @fadeInOut *ngIf="!disabled && products.length">
        <app-card [card]="card" *ngFor="let card of products" class="center"></app-card>
      </div>
      <div class="product__loading center" *ngIf="!isEmpty && sentHttp">
        <div class="center wrap-md">
          <div class="spinner-border text-danger" role="status">
            <span class="sr-only">Loading...</span>
          </div>
        </div>
      </div>
      <div class="product__empty center" *ngIf="isEmpty && !sentHttp">
        <div class="center wrap-md text-center">
          <div class="h5">No results</div>
        </div>
      </div>
      <div class="product__next center w-100 " *ngIf="hasNext && products.length">
        <div class="product__next-btn w-100">
          <button on-click="showNext()">Больше</button>
        </div>
      </div>
    </div>
  </div>
</app-section-layout>
