@import 'src/base';

.slider-info-content__items{
  display: grid !important;
  grid-template-columns: repeat(auto-fill, minmax(150px, $media));
  grid-gap: $margin;
  grid-template-rows:140px auto;
  padding-bottom: $margin;
  overflow-x: auto;
  justify-items: center;
  justify-content: center;
}

.slider-info-content__items form{
    display: grid;
    grid-gap: $margin;
    width: 90%;
}

.slider-info-content__items > div {
  width: 100%;
  height: 100%;
}

.slider-info-content__img img {
  width: 100%;
  height: 200px;
  object-fit: cover;
}

.slider-info-content__btn{
    grid-column: 1/-1;
}

.slider-info-content__img {
  height: 100%;
}

.slider-info-content__btn{
  grid-column: 1/-1 !important;
  width: 100% !important;
  max-width: 700px;
  align-self: center;
  justify-self: center;
}

@media (max-width: $media) {
  .slider-info-content__items {
    grid-template-columns: 1fr;
  }
}
