@import 'src/base';

.slider-info-content__items{
  display: grid !important;
  grid-template-columns: repeat(auto-fill, minmax(150px, 400px));
  grid-gap: $margin;
  grid-template-rows: 200px;
  padding-bottom: $margin;
  overflow-x: auto;
}

.slider-info-content__items > div{
  width: 100%;
  height:100%;
}

.slider-info-content__img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.slider-info-content__img{
  height: 100%;
}

@media (max-width: $media){
  .slider-info-content__items {
    align-items: center;
    justify-content: center;
    justify-items: center;
    grid-template-columns: 1fr;
  }
}
